<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.housework.model.assignment.AssignmentDao">
    <select id="selectOne" parameterType="int">
        SELECT *
        FROM assignments
        WHERE id = #{id};
    </select>

    <select id="selectAllByFamilyMemberId" parameterType="int" resultType="Assignment">
        SELECT *
        FROM assignments
        WHERE family_member_id = #{familyMemberId}
    </select>

    <insert id="insert" parameterType="Assignment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO assignments (family_member_id, task_id, calorie_burned)
        VALUES (#{familyMemberId}, #{taskId}, #{calorieBurned})
    </insert>

    <update id="update" parameterType="Assignment">
        UPDATE assignments
        SET calorie_burned = #{calorieBurned},
            is_active      = #{isActive}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM assignments
        WHERE id = #{id}
    </delete>
</mapper>