<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.housework.model.family.FamilyDao">
    <select id="selectOne" resultType="Family">
        SELECT *
        FROM families
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="Family">
        SELECT *
        FROM families
    </select>

    <insert id="insert" parameterType="Family" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO families (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <update id="update" parameterType="Family">
        UPDATE families
        SET name        = #{name},
            description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM families
        WHERE id = #{id}
    </delete>
</mapper>