<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.housework.model.task.TaskDao">
    <resultMap id="TaskResultMap" type="Task">
        <id property="id" column="id"/>
        <result property="familyId" column="family_id"/>
        <result property="familyMemberId" column="family_member_id"/>
        <result property="houseworkId" column="housework_id"/>
        <result property="dueAt" column="due_at"/>
        <result property="doneAt" column="done_at"/>
        <association property="housework" javaType="Housework">
            <id property="id" column="housework_id"/>
            <result property="name" column="housework_name"/>
            <result property="category" column="housework_category"/>
        </association>
    </resultMap>

    <select id="selectOne" resultMap="TaskResultMap">
        SELECT t.*, h.id AS housework_id, h.name AS housework_name, h.category AS housework_category
        FROM tasks t
                 LEFT JOIN houseworks h ON t.housework_id = h.id
        WHERE t.id = #{id}
    </select>

    <select id="selectAll" resultType="Task">
        SELECT * FROM tasks
    </select>

    <insert id="insert" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tasks (family_id, family_member_id, housework_id, due_at, done_at)
        VALUES (#{familyId}, #{familyMemberId}, #{houseworkId}, #{dueAt}, #{doneAt})
    </insert>

    <update id="update" parameterType="Task">
        UPDATE tasks
        SET family_id = #{familyId}, family_member_id = #{familyMemberId}, housework_id = #{houseworkId}, due_at = #{dueAt}, done_at = #{doneAt}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM tasks WHERE id = #{id}
    </delete>
</mapper>