<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.housework.model.user.UserDao">
    <select id="selectOne" resultType="User">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="User">
        SELECT *
        FROM users
    </select>

    <select id="selectByEmail" resultType="User">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <insert id="insert" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (family_id, name, email, password, profile_image_url)
        VALUES (#{familyId}, #{name}, #{email}, #{password}, #{profileImageUrl})
    </insert>

    <update id="update" parameterType="User">
        UPDATE users
        SET name              = #{name},
            password          = #{password},
            profile_image_url = #{profileImageUrl},
            is_admin          = #{isAdmin}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM users
        WHERE id = #{id}
    </delete>
</mapper>