<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.housework.model.user.UserDao">
    <select id="selectOne" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="User">
        SELECT * FROM users
    </select>

    <select id="selectByEmail" resultType="User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <insert id="insert" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (name, email, password, family_id)
        VALUES (#{name}, #{email}, #{password}, #{familyId})
    </insert>

    <update id="update" parameterType="User">
        UPDATE users
        SET name = #{name}, email = #{email}, password = #{password}, family_id = #{familyId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper>